
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sobre-mi, .mis-hobbies {
    margin-bottom: 30px;
}

h2 {
    color: #007BFF;
}

.foto {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.redes-sociales {
    list-style-type: none;
    padding: 0;
}

.redes-sociales li {
    display: inline-block;
    margin-right: 15px;
}

.redes-sociales a {
    color: white;
    text-decoration: none;
}

.redes-sociales a:hover {
    text-decoration: underline;
}
